#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
				&kp NUBS   &kp N1	&kp N2   &kp N3   &kp N4   &kp N5   &kp PSCRN			    &kp C_AL_LOCK  &kp N6   &kp N7   &kp N8    &kp N9   &kp N0    &kp PLUS
                &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T    &kp PG_UP			    &kp C_VOL_UP   &kp Y    &kp U    &kp I     &kp O    &kp P     &kp APOS
                &kp ESC    &kp A    &kp S    &kp D    &kp F    &kp G    &kp PG_DN			    &kp C_VOL_DN   &kp H    &kp J    &kp K     &kp L    &kp INT7  &kp INT8
                &kp LSHIFT &kp Z    &kp X    &kp C    &kp V    &kp B         &kp DELETE		&kp RETURN         &kp N    &kp M    &kp COMMA &kp DOT  &kp MINUS &kp RSHIFT
                &kp LCTRL  &kp NUHS &kp LT   &kp LEFT &kp RIGHT    &kp SPACE &kp LGUI		&kp RGUI    &kp BSPC        &kp DOWN &kp UP    &kp INT9 &kp CARET &kp RCTRL
            >;
        };
    };
};
